<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dbConnection" value="Server=localhost; Database=EFCode_DB; Integrated Security=true; Trusted_Connection=true"/>
	</appSettings>
<connectionStrings>
	<add name="dbConnection" connectionString="Server=localhost; Database=EFCode_DB; Integrated Security=true; Trusted_Connection=true"/>
</connectionStrings>
</configuration>